@using MemoApp.Models.Dto;
@model EmployeeHomePageDto;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome back @Model.Name</h1>

<div class="container">
    <div class="card table">
        <div class="card-header">
            <h5>Assigned</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table md-0">
                    <thead class="small text-uppercase bg-body text-muted">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Created by</th>
                            <th>Creation date</th>
                            <th>Signed</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if(Model.MemosAssigned == null)
                            {
                                <p>No memo assigned to you.</p>
                            }
                            else
                            {
                                foreach (var memo in Model.MemosAssigned)
                                {
                                    if(memo.Signed == true)
                                    {
                                        <tr class="align-midle bg-success">
                                            <td>
                                                <a class="icon-link" onclick="location.href='@Url.Action("Signing", "MemoEmployee", new { IdMemo = memo.MemoId })'">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                                    </svg>
                                                </a>
                                            </td>
                                            <td>@memo.Name</td>
                                            <td>@memo.CreatedBy</td>
                                            <td>@memo.CreationDate</td>
                                            <td>true</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="align-midle bg-danger">
                                            <td>
                                                <a class="icon-link" onclick="location.href='@Url.Action("Signing", "MemoEmployee", new { IdMemo = memo.MemoId })'">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                                    </svg>
                                                </a>
                                            </td>
                                            <td>@memo.Name</td>
                                            <td>@memo.CreatedBy</td>
                                            <td>@memo.CreationDate</td>
                                            <td>false</td>
                                        </tr>
                                    }

                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card table">
        <div class="card-header">
            <h5>Created</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table md-0">
                    <thead class="small text-uppercase bg-body text-muted">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Name</th>
                            <th>Creation date</th>
                            <th>Modified by</th>
                            <th>Modification date</th>
                            <th>Assignation count</th>
                            <th>Signed count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if(Model.MemosCreatedCount == null)
                            {
                                <p>No memo created.</p>
                            }
                            else
                            {
                                foreach (var memo in Model.MemosCreatedCount)
                                {
                                    <tr class="align-midle">
                                        <td>
                                            <a class="icon-link" onclick="location.href='@Url.Action("Detail", "Memo", new { IdMemo = memo.MemoId })'">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z" />
                                                </svg>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="icon-link" onclick="location.href='@Url.Action("Edit", "Memo", new { IdMemo = memo.MemoId })'">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                                </svg>
                                            </a>
                                        </td>
                                        <td>@memo.Name</td>
                                        <td>@memo.CreationDate</td>
                                        @if (memo.ModifiedBy == null)
                                        {
                                            <td>No modification</td>
                                        }
                                        else
                                        {
                                            <td>@memo.ModifiedBy</td>
                                        }
                                        @if (memo.ModificationDate == null)
                                        {
                                            <td>No modification</td>
                                        }
                                        else
                                        {
                                            <td>@memo.ModificationDate</td>
                                        }
                                        <td>@memo.TotalAssigned</td>
                                        <td>@memo.ReadAssigned</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Memo")'">Create memo</button>
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Disconnect", "Employee")'">Disconnect</button>
</div>
